In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Translations.xlsx', sheet_name="ALL_TRANSLATIONS", header=None)
df.head(2)

,0,1,2,3,4,5,6,7,8
0,2025-04-17 19:48:06.398,2025-04-17T23-47-44-458Z,lynnette,inputs/LalamoveUnofficialSG_messages59.csv,Can hit more than petrol lo,I can hit more than petrol with this.,translated,lor (lo),Indicates a sense of obviousness and resignation
1,2025-04-17 19:51:08.711,2025-04-17T23-50-56-279Z,lynnette,inputs/sgxpennystocksdiscussion_messages310.csv,I know u inside this chat laughing,I know you are inside this chat and laughing.,translated,no_particle,NaN

In [6]:
df['filename'] = df[3].apply(lambda x: x.replace('inputs/', ''))
df.head(2)

,0,1,2,3,4,5,6,7,8,filename
0,2025-04-17 19:48:06.398,2025-04-17T23-47-44-458Z,lynnette,inputs/LalamoveUnofficialSG_messages59.csv,Can hit more than petrol lo,I can hit more than petrol with this.,translated,lor (lo),Indicates a sense of obviousness and resignation,LalamoveUnofficialSG_messages59.csv
1,2025-04-17 19:51:08.711,2025-04-17T23-50-56-279Z,lynnette,inputs/sgxpennystocksdiscussion_messages310.csv,I know u inside this chat laughing,I know you are inside this chat and laughing.,translated,no_particle,NaN,sgxpennystocksdiscussion_messages310.csv

In [7]:
value_counts = df['filename'].value_counts()
frequent_values = value_counts[value_counts >= 50].index.tolist()

In [8]:
frequent_values

['SGTalk_messages283.csv', 'SGExamsChat_messages665_part1.csv']